body {
    background-color: rgb(197, 243, 112); /* Vous pouvez remplacer "pink" par le code hexadécimal (#FFC0CB) ou tout autre nom de couleur de votre choix */
}

.bleu {
    color: rgb(0, 255, 170);
}

.gras {
    font-weight: bold;
}